
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg, 
        rgba(200, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://image.freepik.com/foto-gratis/interfaz-pantalla-tecnologia-futurista_23-2148468690.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
 #Encabezado{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 20px 380px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
 .Subencabezado{
      padding: 0px 0px 0px 12px;
      font-style: italic;
  } 
 

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

form {
  display: block;
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgba(27, 27, 50, 0.8);;
    margin: 0px 350px 0px 350px;
    border-radius: 05px;
   
}

#cajon{
padding-left: 50px;
padding-top: 20px;
padding-bottom: 25px;
}

.input{
  border-radius: 8px;
  outline: none;
  border: 0;
  width: 91%;
  height: 30px;
}

#comments{
  border-radius: 0px;
  outline: none;
  border: 0;
  width: 90%;
  height: 100px;
}

button{
  display: block;
  width: 91%;
  padding: 0.75rem;
  background: #37af65;;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  margin-top: 10px; 
}
.checkbox{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  min-height: 1.25rem;
  min-width: 1.25rem;
  line-height: 10px;
}